<div class="client-block-title col-xs-offset-1 col-xs-10">
	<div class="channel col-xs-1">
		<span class="glyphicon glyphicon-user" style="font-size:34px; color: #16a085;" aria-hidden="true"></span>
	</div>
	<div class="data col-xs-11">
		<h2>{{ client.getFullName() }} </h2>
		<p>{{"To be contacted from"|trans}} {{campaign.startDate|date('m-d-Y')}} {{"to"|trans}} {{campaign.endDate|date('m-d-Y')}}</p>
	</div>
</div>