{# Get user id from url for menu parameters #}

<nav class="navbar sub-menu kpi-menu">
    <div class="container">
        <ul class="nav navbar-nav col-xs-12">
            <li class="col-xs-2 text-center {% if app.request.attributes.get('_route') == 'app_kpi_month' %}active{% endif %}">
            	<a href="{{ path('app_kpi_month', { 'user_id' :userId } ) }}">
            		{{"Résultats"|trans}}<br /> {{"du mois"}}
            	</a>
            </li>
            <li class="col-xs-2 text-center {% if app.request.attributes.get('_route') == 'app_kpi_ytd' %}active{% endif %}">
            	<a href="{{ path('app_kpi_ytd', { 'user_id' :userId } ) }}">
            		{{"Cumul"|trans}}<br /> {{" annuel"}}
            	</a>
            </li>
            
            {% if user.brand != "ROYAL QUARTZ" %}
            <li class="col-xs-2 text-center {% if app.request.attributes.get('_route') == 'app_kpi_planning' %}active{% endif %}">
            	<a href="{{ path('app_kpi_planning', { 'user_id' : userId } ) }}" class="one-line">
            		{{"Campagnes"|trans}}
            	</a>
            </li>
            <li class="col-xs-2 text-center {% if app.request.attributes.get('_route') == 'app_kpi_fid' %}active{% endif %}">
            	<a href="{{ path('app_kpi_fid', { 'user_id' : userId } ) }}" class="one-line">
            		{{"Fidélité"|trans}}
            	</a>
            </li>
            {% endif %}
            <!--li class="col-xs-2 text-center {% if app.request.attributes.get('_route') == 'app_kpis' %}active{% endif %}">
            	<a href="{{ path('app_kpi_month', { 'user_id' : userId } ) }}" class="one-line">
            		{{"Satisfaction"|trans}}
            	</a>
            </li-->
            <li class="col-xs-2 text-center {% if app.request.attributes.get('_route') == 'app_kpi_faq' %}active{% endif %}">
            	<a href="{{ path('app_kpi_faq', { 'user_id' : userId } ) }}" class="one-line">
            		{{"FAQ"|trans}}
            	</a>
            </li>                  
        </ul>
    </div><!-- /.container-fluid -->
</nav>