{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  Tableaux de bord Louis Pion
{% endblock %}

{% block imgNav %}
	{% if user.brand == "LOUIS PION" and not is_granted("ROLE_ADMIN") %}
		<img style="display:block; float:left;padding-right:20px;" src="{{ asset('images/logolouispion.png') }}" alt="logo" height="50" />		
	{% endif %}
	{% if user.brand == "ROYAL QUARTZ" and not is_granted("ROLE_ADMIN") %}
		<img style="display:block; float:left;padding-right:20px;" src="{{ asset('images/logoroyalquartz.jpg') }}" alt="logo" height="50" />
	{% endif %}
	{% if is_granted("ROLE_ADMIN") %}
		<img style="display:block; float:left;padding-right:20px;" src="{{ asset('images/logo_claravista.png') }}" alt="logo" height="50" />
	{% endif %}
{% endblock %}

{% block dorisS %}
    <li>
		{% if user.username == "Doris SEITZ Royal Quartz" %}
			<a target="_blank" class="small" href="{{ path('app_kpi_month', {'user_id' : 460 } ) }}">voir la boutique Louis Pion</a>
		{% endif %}
		{% if user.username == "Doris SEITZ Louis Pion" %}
			<a target="_blank" class="small" href="{{ path('app_kpi_month', {'user_id' : 461 } ) }}">voir la boutique Royal Quartz</a>
		{% endif %}
    </li>
{% endblock %}

{% block LpTopTitle %}
    {% if is_granted("IS_AUTHENTICATED_ANONYMOUSLY") %}
        {% if app.request.get('_route') == 'app_kpi_month' or app.request.get('_route') == 'app_kpi_ytd' or app.request.get('_route') == 'app_kpi_fid' or app.request.get('_route') == 'app_kpi_planning' %}
            <ul class="nav navbar-nav {% if not is_granted("ROLE_ADMIN") %}navbar-right{% endif %}">
                <li style="color:black;padding-top:3px;">
                    <span style="font-size: 16px;">PERFORMANCES CRM {{ user.username }}</span><br />
                    <span class="small">Rapport du mois {{ getMonthWording(month, "de ") }}</span>
                </li>
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}

{% block subheader %}
{% endblock %}

{% block body %}	

	{# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
	{% block content %}
	{% endblock %}

{% endblock %}