{# app/Resources/views/layout.html.twig #}

{# Global variables #}

{% if not is_granted("ROLE_USER") %}
    {# If not connected (LP) #}
    {% set modules = "" %}
{% elseif is_granted("ROLE_USER") %}
    {# If connected (LNCL) #}
    {% set modules = getModules(app.user) %}
    {% if user is not defined %}{% set user = app.user %}{% endif %}
{% endif %}
{% set previous_page = app.request.headers.get('referer') %}
{% set userId = app.request.get('user_id') %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{"Claravista project"|trans}}{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/all.css') }}">

        <script src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
        <script type="text/javascript">
            CKEDITOR.timestamp='ABCD';
        </script>                
    {% endblock %}
</head>

<body 
    {% if app.request.get('_route') == 'fos_user_security_login' or app.request.get('_route') == 'sonata_user_admin_security_login' %}
        class="green"
    {% endif %}
    >
    <div id="wrapper" class="container">        
        <header class="nav-wrap">
            <nav class="main-menu">
                <div class="container">
                    <ul class="nav navbar-nav">
                        {% block imgNav %}{% endblock %}
                        {% block dorisS %}{% endblock %}
                    </ul>
                    {% block LpTopTitle %}{% endblock %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <ul class="nav navbar-nav navbar-right">
                            {% if "kpi" in modules %}
                                <li class="{% if app.request.attributes.get('_route') == 'app_kpi_month' %}active{% endif %}"><a href="{{ path('app_kpi_month', { 'user_id' : app.user.id } ) }}">{{"My KPIs"|trans}}</a></li>
                            {% endif %}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="text-center"><span class="small">Bonjour {{ app.user.username }}</span></li>
                                        {% if is_granted("ROLE_SONATA_ADMIN") %}
                                            <li><a href="{{ path('sonata_admin_dashboard') }}"><i class="fa fa-cog" aria-hidden="true"></i> Back office</a></li>
                                            <li role="separator" class="divider"></li>
                                        {% endif %}    
                                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock" aria-hidden="true"></i> {{"Logout"|trans}}</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-unlock" aria-hidden="true"></i> {{"Login"|trans}}</a></li>
                            {% endif %}
                        </ul>                        
                    {% endif %}
                </div><!-- /.container-fluid -->
            </nav>
            <div class="spacer"></div>
            {% block subheader %}
            {% endblock %}

        </header>
        <div class="spacer header"></div>
        <div class="row">
            <div id="content" class="col-xs-12">
                {% for label, flashMessages in app.session.flashbag.all %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ label }}">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>

    <footer class="site-footer text-center">
        <div class="inner-footer">
            {{"Claravista, all right reserved"|trans}} © {{ 'now'|date('Y') }}
        </div>
    </footer>

    {% block javascripts %}
        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="{{ asset('js/canvasJs/canvasjs.min.js') }}"></script>
    {% endblock %}

    {% block canvasJs %}
    {% endblock %}

</body>
</html>