{% extends "AppBundle::layout.html.twig" %}

{% block subheader %}
	{% include 'AppBundle:Commons:subheader.html.twig' 
		with { 'ariane': 
			'<a href="' ~
			path( 'app_campaign_clients_list', {'campaign_id' : campaign.id}) ~
			'"> ' ~
			campaign.name ~ 
			'</a> > ' ~
			'<a href="' ~
			path( 'app_campaign_client', {'campaign_id' : campaign.id, 'client_id' : client.id }) ~
			'"> ' ~
			client.Fullname ~ 
			'</a> > ' ~
			'Send Email'|trans
		} 
	%}
{% endblock %}

{% block content %}	

	{% include 'AppBundle:Commons:clientHead.html.twig' %}
	
	<div class="client-block col-xs-offset-1 col-xs-10">
		<div class="modal-body">
			{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
				{{ form_errors(form) }}
				<div class="form-group">
					{{ form_label(form.subject, "Subject"|trans, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
					<div class="col-xs-10 col-sm-9">
						{{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				<div class="form-group">
					{{ form_label(form.template, "Templates"|trans, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
					<div class="col-xs-10 col-sm-9">
						{{ form_widget(form.template, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				<div class="form-group">
					{{ form_label(form.message, "Message"|trans, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
					<div class="col-xs-10 col-sm-9">
						{{ form_widget(form.message, {'attr': {'class': 'form-control ckeditor'}}) }}
					</div>
				</div>

				<div class="form-group">
					{{ form_label(form.password, "Password"|trans ~ " " ~ app.user.webMail|capitalize, {'label_attr': {'class': 'col-xs-2 control-label'}}) }}
					<div class="col-xs-10 col-sm-9">
						{{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>

				{{ form_widget(form.submit, {'attr': {'class': 'btn big-green-btn pull-center'}, 'label': 'Send'|trans}) }}
				
				{{ form_rest(form) }}
			{{ form_end(form) }}
		</div>
	</div>

	<div class="col-xs-12">
	{#dump(clients)#}
	</div>
{% endblock %}



{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
	    //Desactiver le filtre
	    CKEDITOR.config.allowedContent = true;

	    // Turn off automatic editor creation first.

	    //load Templates before set data !!
	    CKEDITOR.loadTemplates(CKEDITOR.config.templates_files, '');
	    //CKEDITOR.inline("ckeditor", {
	   	var editor =
	    CKEDITOR.replace("appbundle_send_email[message]", {
	    	//change when online
	        customConfig : "js/ckeditor/config.js",
	        on:{ instanceReady : function( ev ) { 
	               insert = CKEDITOR.getTemplates('default');
	               html = this.setData(insert.templates[$('#appbundle_send_email_template').val()].html);
	           }
	        },
	    });
	    
	    $(function(){
	        //Changer le contenu de l'éditeur
	        $('#appbundle_send_email_template').on('change', function() {		        	
	            if($('#appbundle_send_email_template').val() != ''){
	                CKEDITOR.instances.appbundle_send_email_message.setData(insert.templates[$('#appbundle_send_email_template').val()].html);
	                //CKEDITOR.instances.id_of_ckeditor_textarea.setData(insert.templates[$('id_of_select').val()].html);
	            }
        	});
        });
	</script>
{% endblock %}