{% extends "AppBundle::layout.html.twig" %}

{% block subheader %}
	{% include 'AppBundle:Commons:kpiNav.html.twig' %}
{% endblock %}

{% block content %}	
	<div class="col-xs-12">
		<h3 class="text-uppercase">Mes clients contactés par email</h3>
	</div>

	<div class="col-xs-12 col-md-6 kpi-box">
		<div class="inside col-xs-12">
			&nbsp;<br />

			<figure class="col-xs-12 col-md-3" style="padding:0;">
				<h5 class="height text-center bg-white black">Clients contactables par email</h5>
				<div id="chartContainer1" style="height: 150px;"></div>
				<figcaption>
					<p class="small">
						<i style="color: #44ccfe;" class="fa fa-square fa-lg" aria-hidden="true"></i> {{ "Inactifs email"|trans}}<br />
						<i style="color: #256dcc;" class="fa fa-square fa-lg" aria-hidden="true"></i> {{ "Actifs email"|trans}}									
					</p>
				</figcaption>
			</figure>
			<figure class="col-xs-12 col-md-3 text-center" style="padding:0;">
				<h5 class="height text-center bg-white black" style="position:relative;">Clients contactés par email sur le mois</h5>
				<i style="color: #FFD819; font-size: 10em;" class="fa fa-circle" aria-hidden="true"></i>		
				<div style="position:relative;color:white;font-weight:bold; font-size:20px; top:-95px;max-width: 100px; margin:0 auto;">
					{{ kpis.nbreClientsAnimesM0|number_format(0, '.', ' ') }}<br />clients
				</div>
			</figure>
			<figure class="col-xs-12 col-md-3 text-center" style="padding:0;">
				<h5 class="height text-center bg-white black" style="position:relative;">Clients contactés par email ayant acheté sur le mois</h5>
				<i style="color: #16a085; font-size: 10em;" class="fa fa-circle" aria-hidden="true"></i>
				<div style="position:relative;color:white;font-weight:bold; font-size:20px; top:-95px;max-width: 100px; margin:0 auto;">
					{{ kpis.nbreClientsTransformesM0|number_format(0, '.', ' ') }}<br />clients
				</div>
			</figure>
			<figure class="col-xs-12 col-md-3 text-center" style="padding:0;">
				<h5 class="height text-center bg-white black" style="position:relative;">CA des clients contactés par email ayant acheté sur le mois</h5>
				<i style="color: #E80C7A; font-size: 10em;" class="fa fa-circle" aria-hidden="true"></i>
				<div style="position:relative;color:white;font-weight:bold; font-size:20px; top:-95px;max-width: 100px; margin:0 auto;">
					{{ kpis.caClientsTransformesM0|number_format(0, '.', ' ') }}<br />€ TTC
				</div>
			</figure>
			<div class="spacer"></div>
			<div class="col-xs-12 text-center">
				<a href="{{ path('app_kpi_faq', { 'user_id' : userId } ) }}" class="small" style="color:#666; text-decoration:underline;">
		    		{{"Définitions et règles de calcul dans l'onglet FAQ"|trans}}
		    	</a>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-md-6 kpi-box">
		<div class="inside col-xs-12">
			<h4 class="text-uppercase black text-center">{{ "Le rapport Collecte / CA"|trans }}</h4>
			<h3 class="black text-center text-uppercase" style="line-height: 24px;">Depuis janvier,<br />
				vos clients contactés <br />
				par email ont généré<br />
				<span style="color: #16a085; font-size: 28px;line-height:34px;">{{ kpisYtd.caCrmYtd|number_format(0, '.', ' ') }} €</span><br />
				{% if user.role == "ROLE_BOUTIQUE" %}
					dans votre magasin
				{% else %}
					dans vos magasins
				{% endif %}
			</h3>
			
			<div class="spacer"></div>
		</div>
	</div>

	<div class="spacer" style="margin-bottom:0px;"></div>

	<div class="col-xs-12">
		<h3 class="text-uppercase">{{ "Le top Louis Pion du mois - Bravo !"|trans }}</h3>
	</div>

	<div class="col-xs-12 kpi-box">
		<div class="inside">
		{% for top in kpisTopCa %}
			<div class="inside top col-xs-4 text-center">
				<h3 class="black">#{% if loop.index0 == 0 %}1{% endif %}{% if loop.index0 == 1 %}2{% endif %}{% if loop.index0 == 2 %}3{% endif %} CA</h3>
				<div class="green-box">
					<h3>{{ deleteFirstCharacters(top.user.username,4) }}</h3>
					<p class="small white">
						{{ top.caClientsTransformesM0|number_format(0, '.', ' ') }} &euro; générés sur le mois<br />
						(Taux de transactions avec email valide sur l'année : {{ topTauxCumul[loop.index0]|number_format(0, '.', ' ') }} %)
					</p>
				</div>
			</div>	
		{% endfor %}	
			<div style="height:0px;" class="spacer"></div>
		</div>	
	</div>
	<div style="height:30px;" class="spacer"></div>
{% endblock %}

{% block canvasJs %}

	<script type="text/javascript">

	if ( {{kpis.nbreClientsContactablesEmailH}} > 100000) {
		var inactifs = "{{ roundLetter(kpis.nbreClientsInactifsEmailH) }}";
		var actifs = "{{ roundLetter(kpis.nbreClientsContactablesEmailH) }}";
	}
	else{
		var inactifs = "{{ kpis.nbreClientsInactifsEmailH|number_format(0, ',', ' ') }}";
		var actifs = "{{ kpis.nbreClientsContactablesEmailH|number_format(0, ',', ' ') }}";
	}

    CanvasJS.addColorSet("set1",
                [
                "#256dcc",
                "#44ccfe",              
                ]);
    CanvasJS.addColorSet("set2",
                [
                "#FFD819",             
                ]);
    CanvasJS.addColorSet("set3",
                [
                "#16a085",              
                ]);
    CanvasJS.addColorSet("set4",
                [
                "#E80C7A",              
                ]);
    CanvasJS.addCultureInfo("fr",{
        shortMonths: ["Jan", "Fev", "Mar", "Avr", "Mai", "Juin", "Juil", "Aou","Sep", "Oct", "Nov", "Dec"],
    });

	window.onload = function () {
		var chart = new CanvasJS.Chart("chartContainer1",
		{
			colorSet: "set1",
			data: [
			{
			  
				startAngle: -90,  
				indexLabelFontColor: "white",
				indexLabelLineColor: "#4c4c4c",

				indexLabelPlacement: "inside",
				type: "pie",
				radius: "120%",
				dataPoints: [
					{  y: {{ kpis.nbreClientsContactablesEmailH }},  indexLabel: actifs,indexLabelFontWeight: "bold",indexLabelFontSize: 14 },
					{  y: {{ kpis.nbreClientsInactifsEmailH }},  indexLabel: inactifs,indexLabelFontWeight: "bold",indexLabelFontSize: 14 },
				]
			}
			]

		});

		chart.render();
		var chart = new CanvasJS.Chart("chartContainer2",
		{
			colorSet: "set2",
			animationEnabled: true,
			toolTip:{  
				enabled: false,
			},
			interactivityEnabled: false,
			data: [
			{
				startAngle: -90,  
				indexLabelFontColor: "white",
				indexLabelLineColor: "#4c4c4c",

				indexLabelPlacement: "inside",
				type: "pie",
				dataPoints: [
					{  y: {{ kpis.nbreClientsAnimesM0 }} },
				]
			}
			]

		});

		chart.render();
		var chart = new CanvasJS.Chart("chartContainer3",
		{
			colorSet: "set3",
			animationEnabled: true,
			toolTip:{  
				enabled: false,
			},
			interactivityEnabled: false,
			data: [
			{
				startAngle: -90,  
				indexLabelFontColor: "white",
				indexLabelLineColor: "#4c4c4c",

				indexLabelPlacement: "inside",
				type: "pie",
				dataPoints: [
					{  y: {{ kpis.nbreClientsTransformesM0 }} },
				]
			}
			]

		});
		chart.render();

		chart.render();
		var chart = new CanvasJS.Chart("chartContainer4",
		{
			colorSet: "set4",
			animationEnabled: true,
			toolTip:{  
				enabled: false,
				animationEnabled: false
			},
			interactivityEnabled: false,
			data: [
			{
				startAngle: -90,  
				indexLabelFontColor: "white",
				indexLabelLineColor: "#4c4c4c",

				indexLabelPlacement: "inside",
				type: "pie",
				dataPoints: [
					{  y: {{ kpis.caClientsTransformesM0 }} },
				]
			}
			]

		});
		chart.render();
	}
	</script>
{% endblock %}