{% extends "AppBundle::layout.html.twig" %}

{% block subheader %}
	{% include 'AppBundle:Commons:kpiNav.html.twig' %}
{% endblock %}

{% block content %}	
	<div class="col-xs-12">
		<h3 class="text-uppercase">{{ "La qualification des mes clients"|trans }}</h3>
	</div>

	<div class="col-xs-12 col-md-6 kpi-box">
		<div class="inside col-xs-12">
			<h4 class="text-uppercase black text-center">{{ kpiCurrentMonth.nbTransacM0|number_format(0, ',', ' ') }} {{ "Transactions enregistrées"|trans }}</h4>

			<figure class="col-xs-12 col-md-4">
				<h4 class="text-center bg-white black">Email<br />&nbsp;</h4>
				<div id="chartContainer1" style="height: 150px;"></div>
				<figcaption>
					<p class="small">
						<i style="color: #E80C7A;" class="fa fa-square fa-lg" aria-hidden="true"></i>
						<i style="color: #f2ce18;" class="fa fa-square fa-lg" aria-hidden="true"></i>
						<i style="color: #2D89FF;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
						{{ "Taux de transactions avec des données valides"|trans}}
					</p>
				</figcaption>
			</figure>
			<figure class="col-xs-12 col-md-4">
				<h4 class="text-center bg-white black">Email + SMS<br />&nbsp;</h4>
				<div id="chartContainer2" style="height: 150px;"></div>
				<figcaption>
					<p class="small">
						<i style="color: #aaaaaa;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
						{{ "Taux de transactions avec des données non-collectées"|trans}}
					</p>
				</figcaption>
			</figure>
			<figure class="col-xs-12 col-md-4">
				<h4 class="text-center bg-white black">Email + SMS + Adresse</h4>
				<div id="chartContainer3" style="height: 150px;"></div>
				<figcaption>
					<p class="small">
						<i style="color: #f0f0f0;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
						{{ "Taux de transactions avec des données non-valides"|trans}}
					</p>
				</figcaption>
			</figure>
			<div class="spacer"></div>
			<div class="col-xs-12 text-center">
				<a href="{{ path('app_kpi_faq', { 'user_id' : userId } ) }}" class="small" style="color:#666; text-decoration:underline;">
		    		{{"Définitions et règles de calcul dans l'onglet FAQ"|trans}}
		    	</a>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-md-6 kpi-box">
		<div class="inside col-xs-12">
			<h4 class="text-uppercase black text-center">{{ "Evolution mensuelle des indicateurs de collecte"|trans }}</h4>

			<figure class="col-xs-12">
				<div id="chartContainer4" class="col-xs-12" style="height: 194px;"></div>
				<figcaption class="col-xs-12 col-md-4">
					<p class="small">
						&nbsp;<br />
						<i style="color: #E80C7A;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
						{{ "Taux de transactions avec des emails valides"|trans}}
					</p>
				</figcaption>
				<figcaption class="col-xs-12 col-md-4">
					<p class="small">
						&nbsp;<br />
						<i style="color: #f2ce18;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
						{{ "Taux de transactions avec des emails + SMS valides"|trans}}
					</p>
				</figcaption>
				<figcaption class="col-xs-12 col-md-4">
					<p class="small">
						&nbsp;<br />
						<i style="color: #2D89FF;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
						{{ "Taux de transactions avec des emails + SMS + adresses valides"|trans}}
					</p>
				</figcaption>
			</figure>
			<div class="spacer"></div>
		</div>
	</div>

	<div class="spacer" style="margin-bottom:0px;"></div>

	<div class="col-xs-12">
		<h3 class="text-uppercase">{{ "Le top Louis Pion du mois - Bravo !"|trans }}</h3>
	</div>

	<div class="col-xs-12 kpi-box">
		<div class="inside">
			<div class="inside top col-xs-4 text-center">
				<h3 class="black">#1 Email</h3>
				<div class="green-box">
					<h3>{{ deleteFirstCharacters(topNpe.user.username,4) }}</h3>
					<p class="small white">{{ topNpe.txTransacNpeM0|number_format(0, ',', ' ') }} % {{ "de transactions"|trans }}<br /> {{ "Emails valides"|trans }}</p>
				</div>
			</div>		
			<div class="inside top col-xs-4 text-center">
				<h3 class="black">#1 Email + SMS</h3>
				<div class="green-box">
					<h3>{{ deleteFirstCharacters(topNpes.user.username, 4) }}</h3>
					<p class="small white">{{ topNpes.txTransacNpesM0|number_format(0, ',', ' ') }} % {{ "de transactions"|trans }}<br /> {{ "Emails + SMS valides"|trans }}</p>
				</div>
			</div>
			<div class="inside top col-xs-4 text-center">
				<h3 class="black">#1 Email + SMS + Adresse</h3>
				<div class="green-box">
					<h3>{{ deleteFirstCharacters(topNpesa.user.username,4) }}</h3>
					<p class="small white">{{ topNpesa.txTransacNpesaM0|number_format(0, ',', ' ') }} % {{ "de transactions"|trans }}<br /> {{ "Emails + SMS + Adresses valides"|trans }}</p>
				</div>
			</div>
			<div style="height:0px;" class="spacer"></div>
		</div>
	</div>

	<div style="height:30px;" class="spacer"></div>

	<div class="col-xs-12">
		<!--a href="{{ path('app_kpi_month', { 'user_id' : user.id, 'month' : '01' } ) }}" class="btn-kpi btn btn-sm {% if month == "01" %}active {% endif %}">{{ "Janvier"|trans }}</a>
		<a href="{{ path('app_kpi_month', { 'user_id' : user.id, 'month' : '02' } ) }}" class="btn-kpi btn btn-sm {% if currentMonth|number_format < "02"|number_format %}disabled{% endif %} {% if month == "02" %}active {% endif %}">{{ "Février"|trans }}</a>
		<a href="{{ path('app_kpi_month', { 'user_id' : user.id, 'month' : '03' } ) }}" class="btn-kpi btn btn-sm {% if currentMonth|number_format < "03"|number_format %}disabled{% endif %} {% if month == "03" %}active {% endif %}">{{ "Mars"|trans }}</a>
		<a href="{{ path('app_kpi_month', { 'user_id' : user.id, 'month' : '04' } ) }}" class="btn-kpi btn btn-sm {% if currentMonth|number_format < "04"|number_format %}disabled{% endif %} {% if month == "04" %}active {% endif %}">{{ "Avril"|trans }}</a-->
		<a href="{{ path('app_kpi_month', { 'user_id' : user.id, 'month' : '05' } ) }}" class="btn-kpi btn btn-sm {% if currentMonth|number_format < "05"|number_format %}disabled{% endif %} {% if month == "05" %}active {% endif %}">{{ "Mai"|trans }}</a>
		<a href="{{ path('app_kpi_month', { 'user_id' : user.id, 'month' : '06' } ) }}" class="btn-kpi btn btn-sm {% if currentMonth|number_format < "06"|number_format %}disabled{% endif %} {% if month == "06" %}active {% endif %}">{{ "Juin"|trans }}</a>
		<a href="{{ path('app_kpi_month', { 'user_id' : user.id, 'month' : '07' } ) }}" class="btn-kpi btn btn-sm {% if currentMonth|number_format < "07"|number_format %}disabled{% endif %} {% if month == "07" %}active {% endif %}">{{ "Juillet"|trans }}</a>
		<a href="{{ path('app_kpi_month', { 'user_id' : user.id, 'month' : '08' } ) }}" class="btn-kpi btn btn-sm {% if currentMonth|number_format < "08"|number_format %}disabled{% endif %} {% if month == "08" %}active {% endif %}">{{ "Août"|trans }}</a>
		<a href="{{ path('app_kpi_month', { 'user_id' : user.id, 'month' : '09' } ) }}" class="btn-kpi btn btn-sm {% if currentMonth|number_format < "09"|number_format %}disabled{% endif %} {% if month == "09" %}active {% endif %}">{{ "Septembre"|trans }}</a>
		<a href="{{ path('app_kpi_month', { 'user_id' : user.id, 'month' : '10' } ) }}" class="btn-kpi btn btn-sm {% if currentMonth|number_format < "10"|number_format %}disabled{% endif %} {% if month == "10" %}active {% endif %}">{{ "Octobre"|trans }}</a>
		<a href="{{ path('app_kpi_month', { 'user_id' : user.id, 'month' : '11' } ) }}" class="btn-kpi btn btn-sm {% if currentMonth|number_format < "11"|number_format %}disabled{% endif %} {% if month == "11" %}active {% endif %}">{{ "Novembre"|trans }}</a>
		<a href="{{ path('app_kpi_month', { 'user_id' : user.id, 'month' : '12' } ) }}" class="btn-kpi btn btn-sm {% if currentMonth|number_format < "12"|number_format %}disabled{% endif %} {% if month == "12" %}active {% endif %}">{{ "Décembre"|trans }}</a>
	</div>

	<div style="height:30px;" class="spacer"></div>

	{% if getBoutiquesDr is not null %}
		<div class="col-xs-12">
			<h3 class="text-uppercase">{{ "Cliquez pour accèder aux résultats de vos boutiques"|trans }}</h3>
			<ul>
				{% for boutique in getBoutiquesDr %}
					{% if getTransacM0(boutique, kpiCurrentMonth.date) > 0 %}
					<li>
						<a href="{{ path('app_kpi_month', { 'user_id' : boutique.id } ) }}" target="_blank" style="color: black; text-decoration:underline;">{{ boutique.username|upper }}</a>
					</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	{% if getDrsMarque is not null %}
		<div class="col-xs-12">
			<h3 class="text-uppercase">{{ "Cliquez pour accèder aux résultats de vos DR"|trans }}</h3>
			<ul>
				{% for boutique in getDrsMarque %}
					{% if getTransacM0(boutique, kpiCurrentMonth.date) > 0 %}
					<li style="line-height:25px;">
						<a href="{{ path('app_kpi_month', { 'user_id' : boutique.id } ) }}" target="_blank" style="color: black; text-decoration:underline;">{{ boutique.username|upper}}</a>
					</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>

	<div style="height:30px;" class="spacer"></div>
	{% endif %}
{% endblock %}

{% block canvasJs %}

	<script type="text/javascript">

	var dataToBeC1 = {{ 100 - kpiCurrentMonth.txTransacNpeM0|number_format - kpiCurrentMonth.txTransacNveM0|number_format }};
	var dataToBeC2 = {{ 100 - kpiCurrentMonth.txTransacNpesM0|number_format - kpiCurrentMonth.txTransacNvesM0|number_format }};
	var dataToBeC3 = {{ 100 - kpiCurrentMonth.txTransacNpesaM0|number_format - kpiCurrentMonth.txTransacNvesaM0|number_format }};

	if (dataToBeC1 < 0) dataToBeC1 = 0;
	if (dataToBeC2 < 0) dataToBeC2 = 0;
	if (dataToBeC3 < 0) dataToBeC3 = 0;

    CanvasJS.addColorSet("set1",
                [
                "#E80C7A",
                "#aaaaaa",
                "#f0f0f0",              
                ]);
    CanvasJS.addColorSet("set2",
                [
                "#f2ce18",
                "#aaaaaa",
                "#f0f0f0",              
                ]);
    CanvasJS.addColorSet("set3",
                [
                "#2D89FF",
                "#bbbbbb",
                "#f0f0f0",              
                ]);
    CanvasJS.addColorSet("set4",
                [
                "#E80C7A",
                "#f2ce18",
                "#2D89FF",              
                ]);
    CanvasJS.addCultureInfo("fr",{
        shortMonths: ["Jan", "Fev", "Mars", "Avril", "Mai", "Juin", "Juil", "Août","Sept", "Oct", "Nov", "Déc"],
    });

	window.onload = function () {
		var chart = new CanvasJS.Chart("chartContainer1",
		{
			colorSet: "set1",
			animationEnabled: true,
			title:{
				text: {{ kpiCurrentMonth.txTransacNpeM0|number_format }} + "%",
				fontSize: 32,
				verticalAlign: "center", // "top", "center", "bottom"
				horizontalAlign: "center", // "left", "right", "center"
				fontColor: "#E80C7A",
			},
			toolTip:{  
			enabled: true
			},
			data: [
			{
				startAngle: -90,  
				indexLabelFontColor: "black",
				indexLabelLineColor: "#4c4c4c",
				indexLabelPlacement: "inside",
				type: "doughnut",
				innerRadius: "60%",
				dataPoints: [
					{  y: {{ kpiCurrentMonth.txTransacNpeM0|number_format }}, toolTipContent: "Qualification email {y}%"},
					{  y: dataToBeC1, indexLabel: "{y}%", indexLabelFontWeight: "bold", indexLabelFontColor: "white", indexLabelFontSize: 12, toolTipContent: "Données non collectées : {y}%"},
					{  y: {{ kpiCurrentMonth.txTransacNveM0|number_format }}, indexLabel: "", indexLabelFontWeight: "bold", indexLabelFontColor: "black", indexLabelFontSize: 8, toolTipContent: "Données non-valides : {y}%"}
				]
			}
			]

		});

		chart.render();
		var chart = new CanvasJS.Chart("chartContainer2",
		{
			colorSet: "set2",
			animationEnabled: true,
			title:{
				text: {{ kpiCurrentMonth.txTransacNpesM0|number_format }} + "%",
				fontSize: 32,
				verticalAlign: "center", // "top", "center", "bottom"
				horizontalAlign: "center", // "left", "right", "center"
				fontColor: "#f2ce18",
			},
			toolTip:{  
				enabled: true
			},
			data: [
			{
				startAngle: -90,  
				indexLabelFontColor: "black",
				indexLabelLineColor: "#4c4c4c",

				indexLabelPlacement: "inside",
				type: "doughnut",
				innerRadius: "60%",
				dataPoints: [
					{  y: {{ kpiCurrentMonth.txTransacNpesM0|number_format }}, indexLabel: "", indexLabelFontWeight: "bold", toolTipContent: "Qualification email + sms {y}%"},
					{  y: dataToBeC2, indexLabel: "{y}%", indexLabelFontSize: 12,indexLabelFontColor: "white",indexLabelFontWeight: "bold",toolTipContent: "Données non collectées : {y}%"},
					{  y: {{ kpiCurrentMonth.txTransacNvesM0|number_format }}, indexLabel: "", indexLabelFontWeight: "bold", indexLabelFontColor: "black", indexLabelFontSize: 10, toolTipContent: "Données non-valides : {y}%"}
				]
			}
			]

		});

		chart.render();
		var chart = new CanvasJS.Chart("chartContainer3",
		{
			colorSet: "set3",
			animationEnabled: true,
			title:{
				text: {{ kpiCurrentMonth.txTransacNpesaM0|number_format }} + "%",
				fontSize: 32,
				verticalAlign: "center", // "top", "center", "bottom"
				horizontalAlign: "center", // "left", "right", "center"
				fontColor: "#2D89FF",
			},
			toolTip:{  
				enabled: true
			},
			data: [
			{
				startAngle: -90,  
				indexLabelFontColor: "black",
				indexLabelLineColor: "#4c4c4c",

				indexLabelPlacement: "inside",
				type: "doughnut",
				innerRadius: "60%",
				dataPoints: [
					{  y: {{ kpiCurrentMonth.txTransacNpesaM0|number_format }}, indexLabel: "",indexLabelFontSize: 12, indexLabelFontWeight: "bold", toolTipContent: "Qualification email +sms + adresse : {y}%"},
					{  y: dataToBeC3, indexLabel: "{y}%",indexLabelFontSize: 12,indexLabelFontColor: "white", indexLabelFontWeight: "bold",toolTipContent: "Données non collectées : {y}%"},
					{  y: {{ kpiCurrentMonth.txTransacNvesaM0|number_format }}, indexLabel: "", indexLabelFontWeight: "bold", indexLabelFontColor: "black", indexLabelFontSize: 10, toolTipContent: "Données non-valides : {y}%"}
				]
			}
			]

		});

		chart.render();
		var chart = new CanvasJS.Chart("chartContainer4",
		{
			culture:  "fr",
			colorSet: "set4",
			animationEnabled: true,
			toolTip:{  
				enabled: true,
				shared: true,
			},axisY: {
				suffix: " %",
				labelFontSize: 14  
			},
			axisX:{
		        interval: 1,
		        intervalType: "month",
		        minimum : new Date(2016, 00, 1),
		        maximum : new Date(2016 , 11, 1),
		        valueFormatString: "MMM", 
		        labelFontSize: 13,
		        labelAngle: -45
		    },
			data: [
				{
					toolTipContent: "{x}<br /><span style='\"'color: {color};'\"'>Qualification email</span> : {y}%",
					xValueType: "dateTime",
					indexLabelFontColor: "black",
					indexLabelLineColor: "#4c4c4c",
					markerSize: 10,
					name: "Email",
					indexLabelPlacement: "inside",
					type: "line",
					dataPoints: [
						{% for kpi in kpis %}
							{ y: {{ kpi.txTransacNpeM0|number_format }}, x: new Date( {{ kpi.date|date("Y") }}, {{ kpi.date|date("m") - 1 }} ) },
						{% endfor %}
					]
				},
				{
					toolTipContent: "<span style='\"'color: {color};'\"'>Qualification email + sms</span> : {y}%",
					indexLabelFontColor: "black",
					indexLabelLineColor: "#4c4c4c",
					markerSize: 10,
					name: "Email + SMS",
					indexLabelPlacement: "inside",
					type: "line",
					dataPoints: [
						{% for kpi in kpis %}
							{ y: {{ kpi.txTransacNpesM0|number_format }}, x: new Date( {{ kpi.date|date("Y") }}, {{ kpi.date|date("m") - 1 }} ) },
						{% endfor %}
					]
				},
				{
					toolTipContent: "<span style='\"'color: {color};'\"'>Qualification email + sms + adresse</span> : {y}%",
					indexLabelFontColor: "black",
					indexLabelLineColor: "#4c4c4c",
					markerSize: 10,
					name: "Email + SMS + Adresse",
					indexLabelPlacement: "inside",
					type: "line",
					dataPoints: [
						{% for kpi in kpis %}
							{ y: {{ kpi.txTransacNpesaM0|number_format }}, x: new Date( {{ kpi.date|date("Y") }}, {{ kpi.date|date("m") - 1 }} ) },
						{% endfor %}
					]
				},

			]

		});

		chart.render();
	}
	</script>
{% endblock %}