{% extends "AppBundle::layout.html.twig" %}

{% block subheader %}
	{% include 'AppBundle:Commons:kpiNav.html.twig' %}
{% endblock %}

{% block content %}	
	<div class="col-xs-12">
		<h3 class="text-uppercase">{{ "La qualification des mes clients"|trans }}</h3>
	</div>

	<div class="col-xs-12 col-md-6 kpi-box">
		<div class="inside col-xs-12">
			<h4 class="text-uppercase black text-center">{{ kpiCurrentYear.nbTransacYtd|number_format(0, ',', ' ') }} {{ "Transactions enregistrées"|trans }}</h4>

			<figure class="col-xs-12 col-md-4">
				<h4 class="text-center bg-white black">Email<br />&nbsp;</h4>
				<div id="chartContainer1" style="height: 150px;"></div>
				<figcaption>
					<p class="small">
						<i style="color: #E80C7A;" class="fa fa-square fa-lg" aria-hidden="true"></i>
						<i style="color: #f2ce18;" class="fa fa-square fa-lg" aria-hidden="true"></i>
						<i style="color: #2D89FF;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
						{{ "Taux de transactions avec des données valides"|trans}}
					</p>
				</figcaption>
			</figure>
			<figure class="col-xs-12 col-md-4">
				<h4 class="text-center bg-white black">Email + SMS<br />&nbsp;</h4>
				<div id="chartContainer2" style="height: 150px;"></div>
				<figcaption>
					<p class="small">
						<i style="color: #bbbbbb;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
						{{ "Taux de transactions avec des données non-collectées"|trans}}
					</p>
				</figcaption>
			</figure>
			<figure class="col-xs-12 col-md-4">
				<h4 class="text-center bg-white black">Email + SMS + Adresse</h4>
				<div id="chartContainer3" style="height: 150px;"></div>
				<figcaption>
					<p class="small">
						<i style="color: #f0f0f0;" class="fa fa-square fa-lg" aria-hidden="true"></i><br />
						{{ "Taux de transactions avec des données non-valides"|trans}}
					</p>
				</figcaption>
			</figure>
			<div class="spacer"></div>
			<div class="col-xs-12 text-center">
				<a href="{{ path('app_kpi_faq', { 'user_id' : userId } ) }}" class="small" style="color:#666; text-decoration:underline;">
		    		{{"Définitions et règles de calcul dans l'onglet FAQ"|trans}}
		    	</a>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-md-offset-1 col-md-5 kpi-box">
		<div class="inside rappel col-xs-12">
			<h4 class="text-uppercase black text-center">{{ "Rappel des objectifs annuels"|trans }}</h4>
			<p class="text-center"><strong>Email : 70 %</strong></p>
			<p class="text-center"><strong>Email + SMS : 60 %</strong></p>
			<p class="text-center"><strong>Email + SMS + Adresse: 50 %</strong></p>
			<div class="spacer"></div>
		</div>
	</div>

	<div class="spacer" style="margin-bottom:0px;"></div>

	<div class="col-xs-12">
		<h3 class="text-uppercase">{{ "Le top Louis Pion 2016 - Bravo !"|trans }}</h3>
	</div>

	<div class="col-xs-12 kpi-box">
		<div class="inside">
			<div class="inside top col-xs-4 text-center">
				<h3 class="black">#1 Email</h3>
				<div class="green-box">
					<h3>{{ deleteFirstCharacters(topNpe.user.username,4) }}</h3>
					<p class="small white">{{ topNpe.txTransacNpeYtd|number_format(0, ',', ' ') }} % {{ "de transactions"|trans }}<br /> {{ "Emails valides"|trans }}</p>
				</div>
			</div>		
			<div class="inside top col-xs-4 text-center">
				<h3 class="black">#1 Email + SMS</h3>
				<div class="green-box">
					<h3>{{ deleteFirstCharacters(topNpes.user.username,4) }}</h3>
					<p class="small white">{{ topNpe.txTransacNpesYtd|number_format(0, ',', ' ') }} % {{ "de transactions"|trans }}<br /> {{ "Emails + SMS valides"|trans }}</p>
				</div>
			</div>
			<div class="inside top col-xs-4 text-center">
				<h3 class="black">#1 Email + SMS + Adresse</h3>
				<div class="green-box">
					<h3>{{ deleteFirstCharacters(topNpesa.user.username,4) }}</h3>
					<p class="small white">{{ topNpe.txTransacNpesaYtd|number_format(0, ',', ' ') }} % {{ "de transactions"|trans }}<br /> {{ "Emails + SMS + Adresses valides"|trans }}</p>
				</div>
			</div>		
			<div style="height:0px;" class="spacer"></div>
		</div>
	</div>

	<div style="height:30px;" class="spacer"></div>

	<div class="col-xs-12">
		<a href="{{ path('app_kpi_ytd', { 'user_id' : user.id, 'year' : '2016' } ) }}" class="btn-kpi btn btn-sm {% if year == "2016" %}active{% endif %}">2016</a>
	</div>

	<div style="height:30px;" class="spacer"></div>
{% endblock %}

{% block canvasJs %}

	<script type="text/javascript">

	var dataToBeC1 = {{ 100 - kpiCurrentYear.txTransacNpeYtd|number_format - kpiCurrentYear.txTransacNveYtd|number_format }};
	var dataToBeC2 = {{ 100 - kpiCurrentYear.txTransacNpesYtd|number_format - kpiCurrentYear.txTransacNvesYtd|number_format }};
	var dataToBeC3 = {{ 100 - kpiCurrentYear.txTransacNpesaYtd|number_format - kpiCurrentYear.txTransacNvesaYtd|number_format }};

	if (dataToBeC1 < 0) dataToBeC1 = 0;
	if (dataToBeC2 < 0) dataToBeC2 = 0;
	if (dataToBeC3 < 0) dataToBeC3 = 0;

    CanvasJS.addColorSet("set1",
                [
                "#E80C7A",
                "#cccccc",
                "#f0f0f0",              
                ]);
    CanvasJS.addColorSet("set2",
                [
                "#f2ce18",
                "#bbbbbb",
                "#f0f0f0",              
                ]);
    CanvasJS.addColorSet("set3",
                [
                "#2D89FF",
                "#bbbbbb",
                "#f0f0f0",              
                ]);
    CanvasJS.addColorSet("set4",
                [
                "#E80C7A",
                "#f2ce18",
                "#2D89FF",              
                ]);
    CanvasJS.addCultureInfo("fr",{
        shortMonths: ["Jan", "Fev", "Mar", "Avr", "Mai", "Juin", "Juil", "Aou","Sep", "Oct", "Nov", "Dec"],
    });

	window.onload = function () {
		var chart = new CanvasJS.Chart("chartContainer1",
		{
			colorSet: "set1",
			animationEnabled: true,
			title:{
				text: {{ kpiCurrentYear.txTransacNpeYtd|number_format }} + "%",
				fontSize: 32,
				verticalAlign: "center", // "top", "center", "bottom"
				horizontalAlign: "center", // "left", "right", "center"
				fontColor: "#E80C7A",
			},
			toolTip:{  
			enabled: true
			},
			data: [
			{
				startAngle: -90,  
				indexLabelFontColor: "black",
				indexLabelLineColor: "#4c4c4c",

				indexLabelPlacement: "inside",
				type: "doughnut",
				innerRadius: "60%",
				dataPoints: [
					{  y: {{ kpiCurrentYear.txTransacNpeYtd|number_format }}, indexLabel: "", indexLabelFontWeight: "bold", toolTipContent: "Qualification email {y}%"},
					{  y: dataToBeC1, indexLabel: "{y}%", indexLabelFontWeight: "bold", indexLabelFontColor: "white", indexLabelFontSize: 12, toolTipContent: "Données non collectées : {y}%"},
					{  y: {{ kpiCurrentYear.txTransacNveYtd|number_format }}, indexLabel: "", indexLabelFontWeight: "bold", indexLabelFontColor: "black", indexLabelFontSize: 10, toolTipContent: "Données non-valides : {y}%"}
				]
			}
			]

		});

		chart.render();
		var chart = new CanvasJS.Chart("chartContainer2",
		{
			colorSet: "set2",
			animationEnabled: true,
			title:{
				text: {{ kpiCurrentYear.txTransacNpesYtd|number_format }} + "%",
				fontSize: 32,
				verticalAlign: "center", // "top", "center", "bottom"
				horizontalAlign: "center" , // "left", "right", "center"
				fontColor: "#f2ce18",
			},
			toolTip:{  
				enabled: true
			},
			data: [
			{
				startAngle: -90,  
				indexLabelFontColor: "black",
				indexLabelLineColor: "#4c4c4c",

				indexLabelPlacement: "inside",
				type: "doughnut",
				innerRadius: "60%",
				dataPoints: [
					{  y: {{ kpiCurrentYear.txTransacNpesYtd|number_format }}, indexLabel: "", indexLabelFontWeight: "bold", toolTipContent: "Qualification email +sms {y}%"},
					{  y: dataToBeC2, indexLabel: "{y}%", indexLabelFontWeight: "bold",indexLabelFontColor: "white",indexLabelFontSize: 12,toolTipContent: "Données non collectées : {y}%"},
					{  y: {{ kpiCurrentYear.txTransacNvesYtd|number_format }}, indexLabel: "", indexLabelFontWeight: "bold", indexLabelFontColor: "black", indexLabelFontSize: 10, toolTipContent: "Données non-valides : {y}%"}
				]
			}
			]

		});

		chart.render();
		var chart = new CanvasJS.Chart("chartContainer3",
		{
			colorSet: "set3",
			animationEnabled: true,
			title:{
				text: {{ kpiCurrentYear.txTransacNpesaYtd|number_format }} + "%",
				fontSize: 32,
				verticalAlign: "center", // "top", "center", "bottom"
				horizontalAlign: "center" , // "left", "right", "center"
				fontColor: "#2D89FF",
			},
			toolTip:{  
				enabled: true
			},
			data: [
			{
				markerSize: 10,
				startAngle: -90,  
				indexLabelFontColor: "black",
				indexLabelLineColor: "#4c4c4c",

				indexLabelPlacement: "inside",
				type: "doughnut",
				innerRadius: "60%",
				dataPoints: [
					{  y: {{ kpiCurrentYear.txTransacNpesaYtd|number_format }}, indexLabel: "",indexLabelFontSize: 12, indexLabelFontWeight: "bold", toolTipContent: "Qualification email  + sms + adresse {y}%"},
					{  y: dataToBeC3, indexLabel: "{y}%", indexLabelFontWeight: "bold",indexLabelFontColor: "white",indexLabelFontSize: 12,toolTipContent: "Données non collectées : {y}%"},
					{  y: {{ kpiCurrentYear.txTransacNvesaYtd|number_format }}, indexLabel: "", indexLabelFontWeight: "bold", indexLabelFontColor: "black", indexLabelFontSize: 10, toolTipContent: "Données non-valides : {y}%"}
				]
			}
			]

		});

		chart.render();		
	}
	</script>
{% endblock %}